@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Step-By-Step Implementation of MultiSelectList In .NET MVC</h1>
    <hr />
    <p class="lead">
        This Solution is the accompanying sample code to my Code Project article:
        <a href="http://www.codeproject.com/Articles/1063846/Step-By-Step-Implementation-of-MultiSelectList-In" target="_blank">
            Step-By-Step Implementation of MultiSelectList In .NET MVC
        </a>.
    </p>
    <p>
        For best results please follow the structure in the article when examining this code.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-warning">Important: Please Read</h4>
        <p>
            The Code Project <a href="http://www.codeproject.com/Articles/1063846/Step-By-Step-Implementation-of-MultiSelectList-In" target="_blank">article</a>
            that this solution is intended to accompany is for beginners to the world of .NET development. I am also a beginner, but wanted to
            try to help save the time of others in implementing these seemingly simple elements to a web application.
        </p>
        <p>
            If you see any way to improve the code or just have comments or other suggestions, please message me via 
            <a href="http://www.codeproject.com/Members/brownie24" target="_blank">@@Brownie24</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            You will see within this solution that there are two entities - Teams and Players - the models for which
            are located in the Sample-MultiSelect-Data project.
        </p>
        <p>
            You will want to start by creating some teams - create at least 4 for a good test of the concepts. Then set
            your breakpoints and follow along in the code!
        </p>
        <p><a class="btn btn-default" target="_blank" href="http://www.codeproject.com/Articles/1063846/Step-By-Step-Implementation-of-MultiSelectList-In">View the Article &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Background</h2>
        <p>
            If you are unsure on any of the concepts listed in this article please message me at 
            <a href="http://www.codeproject.com/Members/brownie24" target="_blank">@@Brownie24</a>.
            Some of the core components to being able to understand this along with some resources are:
            <ul>
                <li><a href="http://www.asp.net/mvc/pluralsight" target="_blank">.NET MVC Fundamentals</a></li>
                <li><a href="http://www.entityframeworktutorial.net/code-first/configure-many-to-many-relationship-in-code-first.aspx" target="_blank">Establishing Many-to-Many Relationships</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>About the Author</h2>
        <iframe src="http://www.codeproject.com/members/flair/12177936"
                height="200" width="250" scrolling="no" frameborder="no"></iframe>
    </div>
</div>